ftr-header {
    ftr-hamburger-menu {
        float: right;
        margin-right: 15px;
    }
}

h4.title {
    display: inline-block;
    font-size: 14px;
    font-weight: 600px;
    margin-left: 5px;
}